<div class="clickable-area" (click)="show=!show" [style.width.px]="clickableWidth" 
  [style.border-color]="showWarning ? '#F46F5D' : '#cccccc'">
  <img class="dropdown-arrow" src="./assets/dropdown_arrow.png">
  <div *ngIf="selectedOption===''" class="clickable-area-ghost-text">{{placeholderText}}</div>
  <div *ngIf="selectedOption!==''" class="clickable-area-text">{{selectedOption}}</div>
  <div class="options-area" *ngIf="show">
    <div class="option-text" *ngFor='let option of options; let i = index' (click)="select(option)">{{option}}
    </div>
  </div>
</div>