.track-list-container {
  width: 270px;
  height: 520px;
  font-family: 'Roboto';
  color:black;
  font-size:14px;
  border: 1px solid black;
  margin: auto;
  .content {
    padding-left: 20px;
    padding-right: 20px;
    height: 100%;
    .sync-and-play {
      width: 100%;
      height: 80px;
      position: relative;
      border-bottom: 1px solid #C5C2C1;
      .sync-btn, .play-all-btn {
        cursor:pointer;
        height: 30px;
        text-transform: uppercase;
        position: absolute;
        top: calc(50% - 25px);
        &:hover {
          color:grey;
        }
      }
      .sync-btn {
        background-color:white;
        -moz-border-radius:28px;
        -webkit-border-radius:28px;
        border-radius:28px;
        border:1px solid black;
        display:inline-block;
        width: 75px;
        &:disabled {
          opacity: 0.5;
          cursor: not-allowed;
        }
      }
      .play-all-btn {
        left: 85px;  
        line-height: 30px;    
        width: 75px;
        &.disabled {
          opacity: 0.5;
          cursor: not-allowed;
        }
      }
      .track-select {
        text-transform: capitalize;
        position:absolute;
        bottom: 0;
        color: #C5C2C1;
      }
    }
    .tracks {
      height: calc(100% - 80px);
      overflow-y: auto;
    }
  }
}