<div class="track-list-container">
  <div class="content">
    <div class="sync-and-play">
      <button class="sync-btn" (click)="onSync()">sync</button>
      <div class="play-btn" (click)="playAll()">play all</div>
      <app-dropdown class="track-select" [options]="trackIds" 
        [placeholderText]="'Select Track'" [clickableWidth]="230" 
        (onSelection)="onTrackSelection($event)"
        [withValidations]="false" [reset$]="clearFilter$">
      </app-dropdown>
    </div>
    <div class="tracks">
      <app-track *ngFor="let track of displayedTracks; let i = index" 
        [track]="track" (removeTrackEvt)="onRemoveTrack($event)">
      </app-track>
    </div>
  </div>
</div>
