<div class="track-list-container">
  <div class="content">
    <div class="sync-and-play">
      <button class="sync-btn" [disabled]="displayedTracks.length < 1" (click)="onSync()">sync</button>
      <div class="play-all-btn" [ngClass]="{'disabled': displayedTracks.length < 1}" 
        (click)="togglePlayAll()">{{ isPlayAll ? 'stop all' : 'play all'}}</div>
      <app-dropdown class="track-select" [options]="trackIds" 
        [placeholderText]="'Select Track'" [clickableWidth]="230" 
        (onSelection)="onTrackSelection($event)">
      </app-dropdown>
    </div>
    <div class="tracks">
      <app-track *ngFor="let track of displayedTracks; let i = index" 
        [track]="track" [isPlayAll]="isPlayAll" 
        [isSync]="isSync" [leaderTrack]="leaderTrack"
        (removeTrackEvt)="onRemoveTrack($event)"
        (addPlayerEvt)="onAddPlayer($event)">
      </app-track>
    </div>
  </div>
</div>
