.pointer {
  cursor: pointer;
}
.track-container {
  width:100%;
  height: 60px;
  background-color: white;
  border-bottom: 1px solid black;
  padding-top: 10px;
  display: flex;
  .play-track-container {
    width:50px;
    position: relative;
    padding-left: 3px;
    .play-single-track {
      height: 35px;
      width: 35px;
      border-radius: 50%;
      border: 1px solid black;
      background-repeat: no-repeat;
      background-position: center;
      &.play-icon {
        background-image: url('/assets/play-button.png');
      }
      &.pause-icon {
        background-image: url('/assets/pause-button.png');
      }
    }

    .circle-position {
      position: absolute;
      top: 2px;
      pointer-events: none;
      overflow: visible;
      .circle {
        stroke-dasharray: 113px;
        stroke-dashoffset: 113px;
      }
    }
  }
  .track-info {
    width:120px;
    display: flex;
    flex-direction: column;
    .owner {
      font-size: 16px;
    }
    .musical-instruments {
      font-size: 14px;
      margin-top: 6px;
    }
    .bpm {
      font-size: 10px;
      font-weight: bold;
      color: #C5C2C1;
      margin-top: 3px;
      text-transform: uppercase;
    }
  }
  .trash-and-bar {
    width:65px;
    position: relative;
    .trash-icon {
      position: absolute;
      right: 0;
    }
    .bar-and-volume {
      position: absolute;
      top: 23px;
      width: 100%;
      display: flex;
      justify-content: space-between;
      .bar {
        width: 40px;
      }
    }
    
  }
}