<div class="track-container">
  <div class="play-track-container">
    <div class="play-single-track pointer" (click)="togglePlay()" [ngClass]="{'play-icon': !currentTrackInfo.isPlaying, 'pause-icon': currentTrackInfo.isPlaying}"></div>
    <svg height="35" width="35" class="circle-position">
      <circle id="circle-{{track.Id}}" class='circle'
         cx="18" cy="16" r="18" stroke="red" 
         stroke-width="3" fill-opacity="0" />
    </svg>
  </div>
  <audio id="player-{{track.Id}}">
      <source src="{{ track.url }}" type="audio/mp3" />
  </audio>
  <div class="track-info">
    <div class="owner">{{ track.owner }}</div>
    <div class="musical-instruments">{{ getNameFromUrl(track.url) }}</div>
    <div class="bpm pointer" (click)="resetBpm()">bpm: {{ showOriginalBpm ? track.bpm : leaderTrack.bpm }}</div>
  </div>
  <div class="trash-and-bar">
    <i class="fa fa-trash-o trash-icon pointer" aria-hidden="true" (click)="removeTrack()"></i>
    <div class="bar-and-volume">
      <i class="fa pointer volume-icon" aria-hidden="true" (click)="toggleVolume()"
        [ngClass]="{'fa-volume-up': !currentTrackInfo.isMuted, 'fa-volume-down': currentTrackInfo.isMuted}">
      </i>
      <input id="progress-bar-{{track.Id}}" class="bar pointer" value="0" type="range" min="0" max="1" step="any" />
    </div>
  </div>
</div>
